.l1 {
  background-image: url(https://res.cloudinary.com/startup-grind/image/upload/c_scale,w_2560/c_crop,h_640,w_2560,y_0.0_mul_h_sub_0.0_mul_640/c_crop,h_640,w_2560/c_fill,dpr_2.0,f_auto,g_center,q_auto:good/v1/gcs/platform-data-dsc/event_banners/LIFTOFF-C%20%285335%20%C3%97%201043px%29%20%282560%20%C3%97%20650px%29.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  width: 90%;
  max-width: 500px;
  margin: 5% auto;
  padding: 5%;
  backdrop-filter: blur(4px) saturate(158%);
  -webkit-backdrop-filter: blur(4px) saturate(158%);
  background-color: rgba(155, 162, 173, 0.39);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

h1 {
  color: #fbf8f8;
  text-align: center;

}

label {
  display: block;
  margin-bottom: 8px;
  width: 400px; 

  color: #f4eeee;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: #fff;
  font-weight: bolder;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #09ee15;
}

@media (max-width: 600px) {
  .form-container{
    width: 80%;
  }
  label {
    width: 100%; 
  }
  button{
    font-size: 10px;
  }
}
