.form-container {
  margin-top: 2%;
  
  background-color: rgb(245, 247, 244);
  border-radius: 10px;
  border: 1px solid rgba(15, 8, 8, 0.18);
  padding: 20px;
  border-radius: 8px;
  height: auto;
  max-width: 500px;
  width: 100%;
 
}
h1 {
color: #161414;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
  color: #110c0c;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #41ac08;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  outline: none !important;;
  border-color: #5cb85c;
}
input:focus,
select:focus {
  border-color: #006400 !important; /* Dark green color */
 /* Optional: Add a subtle box shadow on focus */
  outline: none !important; /* Remove the default blue outline */
}
label:focus{

border-color: #1e8449;}
/* .error {
  color: #dc150e;
  font-size: 1px;
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
} */

.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #f7f1f1;
  cursor: pointer;
  display: inline-block;
 
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-bottom: 5px;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #58db11;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}


@media (max-width: 800px) {
  .form-container {
    margin-top: 80px;
    width: 80%;
    padding: 0 10px; 
    
  }

  img {
    width: 60px; 
    height: 60px; 
    position: absolute;
  }
  label {
    font-size: 14px;
  }
}