.form-container {
  margin-top: 7%;
background-color: #fff;
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
  border-radius: 8px;
  height: auto;
  max-width: 0px;
  width: 100%;
 
}

h1 {
color: #161414;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-size: 20px;
  display: block;
  margin-bottom: 8px;
  color: #110c0c;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #5cb85c;
}

.error {
  color: #dc150e;
  font-size: 14px;
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
}


/* .contact-us {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-us h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-us p {
  color: #555;
  font-size: 16px;
  margin: 5px 0;
} */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}


@media (max-width: 800px) {
  .form-container {
    margin-top: 80px;
    width: 80%;
    padding: 0 10px; 
    
  }

  img {
    width: 60px; 
    height: 60px; 
    position: absolute;
  }
  label {
    font-size: 14px;
  }
}